body {
	background-color:lightblue;
}
.homeli {
	background-color:white;
	margin-top:7px;
	padding:10px;
	margin-left:50px
}
.homeli a {
	display:block;
	text-decoration:none;
	color:black;
	font-size:20px;
}


* {
  box-sizing: border-box;
}
.home ul{
	width:25%;
	list-style-type:none;
}
.projectnav ul {
  list-style-type: none;
  margin-bottom: 40px;
  padding: 0;
  overflow:hidden;
  }
.project a {
	display:block;
	width:120px;
	background-color:grey;
	padding:10px;
	color:white;
	text-decoration:none;
	font-size:20px;
}

.project {
	float:right;
	
}
.project a:hover {
	background-color:darkblue;
}

.dropdown:hover .dropdown-content {
  display: block;
}

.dropdown-content a:hover {
	background-color:red;
}
.dropdown-content {
  display: none;
  position: absolute;
  background-color: #f9f9f9;
  min-width: 160px;
  box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
  z-index: 1;
}

header {
	background-color:black;
	color:white;
	padding:1px;
}
section.dogbreeds {
	padding:10px 250px 10px 250px;
	height:600px;
}
section {
	background-color:white;
	color:black;
}
article {
	padding:25px 350px 25px 350px;
}

@media only screen and (max-width: 992px){
  article {
	padding:25px 100px 25px 100px;
	}
 section.dogbreeds {
	padding:25px 100px 25px 100px; 
  }
}
@media only screen and (max-width: 600px) {
  article {
    padding:25px;
  }
  section.dogbreeds {
	padding:25px;  
  }
  .home ul{
	width:100%;
	list-style-type:none;
}
}
@media only screen and (max-width: 500px) {
 
  section.dogbreeds {
	padding:25px; 
    height:1000px;	
  }
  .home ul{
	width:100%;
	list-style-type:none;
}
}
@media only screen and (max-width: 768px) {
  article {
	padding:25px 50px 25px 50px;
  }
  section.dogbreeds {
	padding:25px 50px 25px 50px; 
  }
}
footer {
	background-color:black;
	color:white;
	padding:20px;
	text-align:center;
}
div.gallery img {
	
	height:150px;
}
div.gallery {
  border: 1px solid #ccc;
  margin:5px;
  float:left;
  width: 180px;
  
}
div.desc {
	padding:15px;
	text-align:center;
}
div.gallery:hover {
  border: 1px solid #777;
}
footer {
    clear: both;
}